/*******************************    e-GOB DESIGN    ******************************/
/*More dark #27303e */
/*Dark #36455a */
/*Primary #3b4b61       alternativo #07575b*/
/*Light #2a85e0 */
/*Super light #c4dfe6 */
/*Menu borders #4f5964  */

html, body{
    height: 100%;
}

.modal-dialog.modal-md{
    padding: 0 !important;
    width: 95% !important;
}
#main {
    background-color: #ffffff;
}

#menu {
    background-color: #36455a;
    border-width: 0px!important; 
    border-style: none;
    color: #fff;
    height: calc(100% + 19.1px)!important;
    -webkit-box-shadow: 5px 0px 20px -5px #000000; 
    box-shadow: 5px 0px 20px -5px #000000;
}

#menu tbody > tr{
    border-bottom: 1px solid transparent!important;
    transition: 0.5s;
}
#menu tbody > tr:hover{
    border-bottom: 1px solid #2a85e0!important;
    background-color: transparent!important;
    transition: 0.5s;
}

.form-container {
    background-color: #3b4b61;
    -webkit-box-shadow: 0px 1px 10px 0px #000;
    box-shadow: 0px 1px 10px 0px #000;
    border-radius: 1rem;
    color: #fff;
}
.modal-content .form-container > tbody > tr > td > label{
    color: #fff;
}

.modal-footer {
    border-top: none;
}    
.table {
    background-color: aliceblue;
}

.input-sm {
    border-color: #b3cade;
    border-width: 1px;
}

.form-one2many {
    border-color: #b3cade;
    border-width: 1px;
}

.form-many2many {
    border-color: #b3cade;
    border-width: 1px;
}

.nav > li > a {
    color: white;
    background-color: #27303e;
}

.nav > li > a:hover {
    color: #e3e4e8;
}

.navbar{
    border: 0px none transparent;
}

.navbar-default {
    background-color: #27303e;
    background-image: none;
}

.toolbar {
    background-color:  #27303e;
}

.navbar-nav > li > a {
    background-color: #27303e;
    color: white;
}

.navbar-default .navbar-brand{
    color: white;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.nav-tabs > li > a:hover {
   color: #585858;
}

.fc-head-container {
    background: #35a6e7;
    color: #fff
}

.fc-day {
    background: #fff;
}

.fc-header-toolbar {
    border-radius: 10px 10px 0 0;
    background: #35a6e7;
    margin-bottom: 0;
    padding: 20px;
    color: white;
}

.fc-toolbar.fc-header-toolbar {
    margin-bottom: 0;
}

.fc-center > h2{
    columns: #FFF;
}
    
#map-container{
    width: 100%;
    height: 600px;
}
.blue-map-alert{
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.red-map-alert{
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

/* GESTOR DOCUMENTAL */
    .navbar-option-div{
        color: #fff !important;
        display: inline;
        margin-left: 2rem;
        background-color: #467faf;
        padding: 0.5rem 0.9rem;
        border-radius: 100px;
        -webkit-box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.20);
        -moz-box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.20);
        box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.20);
    }
.navbar-option-div > a{
    color: #fff !important;
}

/*light ##596d88 */
/*dark #27303e */
/* color #ffffff */

.btn-primary{
    color: #ffffff;
    background-color: #596d88!important;
    border-color: #596d88!important;
    transition: 0.5s;
}

.btn-primary:hover {
    background-color: #27303e!important;
    transition: 0.5s;
    padding: 5px 11px;
}

.btn-default {
    color: #fff;
    background-color: #27303e;
/*     border-color: #36455a; */
    transition: 0.5s;
    border-color: transparent!important;

}
.btn-default:hover {
    background-color: #27303e!important;
    color: #fff;
    transition: 0.3s;
    border-color: 0px solid transparent!important;
    padding:calc(6px - 0.05em) calc(12px + 0.2em);
    border-bottom: 2px solid #2a85e0!important;
}

.btn-default > img{
    transition: 0.3s;
    height: 1.428571em;
}
.btn-default:after > img{
    transition: 0.3s;
    height: 1.428571em;
    padding: 5px 10px;
}
.btn-default:hover > img{
    transition: 0.3s;
    height: 1.628571em;
    /* padding:calc(5px - 0.4em) calc(10px - 0.4em); */
}

.open>.dropdown-menu {
    display: block;
    background-color: #27303e;
}

.open>.dropdown-menu  a{
    color: #fff;
}

.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #36455a;
}

.open>.dropdown-menu li:hover {
    background-color: #36455a;
    transition: 0.5s;
    color: #fff;
}
.open>.dropdown-menu a:hover {
    background-color: #36455a;
    transition: 0.5s;
    color: #fff;
}
.open>.dropdown-menu li{
    transition: 0.5s;
}
.open>.dropdown-menu a{
    transition: 0.5s;
}


.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #27303e;
    border-bottom: 4px solid #2a85e0!important;
}
#tablist > li > a {
    border: 0;
    padding: 13px;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: transparent;
    transition: 0.3s;
    border-bottom: 4px solid #2a85e0!important;
}

.navbar-default .navbar-nav>li>a:after, .navbar-default .navbar-nav>li>a{
    transition: 0.3s;
}

.navbar-static-top .navbar-collapse #tablist > li > a > .close > span{
    color: #fff!important;
    text-shadow: none;
    opacity: 0.8!important;
    margin-top: -1px;
}

.close{
    opacity: 0.8!important;
    font-size: 16px;
}


.screen-container > .content-box > .form > .form-container {
    background-color: #fff;
    -webkit-box-shadow: 0px 1px 10px 0px #000; 
    box-shadow: 0px 1px 10px 0px #000;
    border-radius: 1rem;
    color: #616161;
}

.form table.form-container > tbody > tr > td {
    padding: 3px;
}

.form-container .form-container {
    background-color: transparent;
    -webkit-box-shadow: 0px 0px 0px 0px transparent; 
    box-shadow: 0px 0px 0px 0px transparent;
    border-radius: 1rem;
    color: #616161;
}

.panel-default{
/*     border-radius: 1rem 1rem 0 0; */
}

.panel-default>.panel-heading {
    color: #fff;
    background-color:  #27303e;
    border-color: transparent;
/*     border-radius: 1rem 1rem 0 0; */
}
.panel-default > .panel-body > .screen-container > .content-box > .treeview > table > thead{
    color: #fff;
    background-color:  #27303e;
    border-color: transparent;
}

.panel-default > .panel-body > .screen-container > .content-box > .treeview > table > thead > tr > th > label{
    color: #fff!important;
}

.panel-default > .panel-body > .screen-container > .content-box > .treeview > table > tbody > tr > td > table > tr > td{
    color: #616161!important;
}


#menu > div > div > table > tbody > tr > td[data-title='MenÃº: ']:hover{
    font-size: 16px;
    transition: 0.5s;
}
#menu > div > div > table > tbody > tr > td[data-title='MenÃº: ']{
    transition: 0.5s;
}

.form-many2one .icon-secondary{
    background-color: #28303e;
}
.form-many2one .icon-primary{
    background-color: #28303e;
}
.editabletree-many2one .icon-secondary{
    background-color:#28303e;   
}
.expander > img {
    background-color: #4f5964;
    border-radius: 1rem;
}

.modal-content .form-container > tbody > tr {
    background-color: #ffffff;
    
}

.modal-content > .modal-body > div > div > div > .form-container{
    background-color: #ffffff;
    color: #323232;
}

.modal-content > .modal-body > div > div > div > .form-container label{
    color: #323232!important;
}

.modal-content > .modal-body > div > div > div > .form-container .panel-heading > label{
    color: #ffffff!important;
}
.modal-content > .modal-body > div > div > div > .form-container .responsive-header > thead > tr > th > label{
    color: #ffffff!important;
}
.modal-content > .modal-body > div > div > div > .form-container .responsive-header > tbody {
    color: #323232!important;
}

.form-reference > .input-group > .icon-secondary{
    background-color: #28303e;
}

.editabletree-many2one > .input-group > .icon-primary{
    background-color: #28313e;
}

.datepickerbutton{
    background-color: #28303e;
}

.bootstrap-datetimepicker-widget  thead:first-child{
/*     background-color: #28303e; */
}

.bootstrap-datetimepicker-widget  thead::nth-child(2n) > th{
    color: #3b4b61;
}

.bootstrap-datetimepicker-widget .datepicker-days > table > thead,
.bootstrap-datetimepicker-widget .datepicker-years > table > thead,
.bootstrap-datetimepicker-widget .datepicker-months > table > thead,
.bootstrap-datetimepicker-widget .datepicker-decades > table > thead{
    color: #3b4b61;
}

.bootstrap-datetimepicker-widget  tr td.day,
.bootstrap-datetimepicker-widget .datepicker-months span.month,
.bootstrap-datetimepicker-widget .datepicker-years span.year,
.bootstrap-datetimepicker-widget .datepicker-decades span.decade{
    color: #3b4b61;
}

.bootstrap-datetimepicker-widget  tr td.active,
.bootstrap-datetimepicker-widget  tr td.today,
.bootstrap-datetimepicker-widget  .datepicker-months span.active,
.bootstrap-datetimepicker-widget  .datepicker-years span.active,
.bootstrap-datetimepicker-widget  .datepicker-decades span.active{
    color: #ffffff!important;
}

.bootstrap-datetimepicker-widget > ul > li > div > div > table > tbody > tr > td.active{
    background-color: #28303e;
}

.modal-dialog .form-container{
    background-color: #3b4b61;
    -webkit-box-shadow: none; 
    box-shadow: none;
    border-radius: 1rem;
    color: #fff;
}

.wizard > .screen-container > .content-box > .form label{
    color: #323232;
}
.wizard > .screen-container > .content-box img{
    background-color: #28303e;
    border-radius: 100px;
}